<a href="https://colab.research.google.com/github/Abhishek5635/Python_basic_assignments/blob/main/Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [3]:
test1 = "This is a test of the emergency text system"
f = open('test.txt', 'a+')
f.write(test1 + '\n')
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?|

In [4]:
# no differnce between test1 and test2
f  = open('test.txt', 'r')
test2=f.read()
print(test2)
f.close()

This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [5]:
import csv
with open('books.csv', 'w+', newline = '') as f:
  writer = csv.writer(f)
  writer.writerow(['title', 'author', 'year'])
  writer.writerow(['The Weirdstone of Brisingamen', 'Alan Garner', '1960'])
  writer.writerow(['Perdido Street Station', 'China Miéville', '2000'])
  writer.writerow(['Thud!', 'Terry Pratchett', '2005'])
  writer.writerow(['The Spellman Files', 'Lisa Lutz', '2007'])
  writer.writerow(['Small Gods', 'Terry Pratchett', '1992'])
  f.seek(0)
  print(f.read())
  f.close()

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3

# Connect to the database (or create if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the books table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS books (
                    title TEXT,
                    author TEXT,
                    year INTEGER
                )''')

# Define the values to insert
values = ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)

# Execute the INSERT statement
cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", values)
# Commit the changes and close the connection

5. Read books.csv and insert its data into the book table.

In [7]:
import csv
# Read data from books.csv and insert into the table
with open('books.csv') as f:
  reader = csv.reader(f)
  for row in reader:
    cursor.execute("insert into books (title, author, year) values (?,?,?)", row)
conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [8]:
# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print the title column in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")
titles = cursor.fetchall()

for title in titles:
    print(title[0])

# Close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
title

7. From the book table, select and print all columns in the order of publication.

In [9]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select and print all columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [13]:

!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (2.0.2)

In [18]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, text

# Step 1: Create the SQLite database engine
# The URL format for SQLite: 'sqlite:///path/to/database'
# For in-memory database: 'sqlite:///:memory:'
engine = create_engine('sqlite:///books.db', echo=True)  # Set 'echo=True' for logging SQL statements

# Step 2: Define metadata and table structure (optional, but useful for schema management)
metadata = MetaData()
books_table = Table(
    'books',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String),
    Column('author', String),
    Column('published_year', Integer)
)

# Step 3: Connect to the database
connection = engine.connect()

# Step 4: Create a compiled SQL statement using the SQLAlchemy 'text' object
query = text('SELECT * FROM books')

# Step 5: Execute the query and fetch results
result = connection.execute(query)
for row in result:
    print(row)

# Step 6: Close the connection when done
connection.close()

2023-07-22 06:42:37,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-07-22 06:42:37,705 INFO sqlalchemy.engine.Engine SELECT * FROM books

INFO:sqlalchemy.engine.Engine:SELECT * FROM books

2023-07-22 06:42:37,709 INFO sqlalchemy.engine.Engine [generated in 0.01020s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01020s] ()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
2023-07-22 06:42:37,717 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [19]:
!pip install redis

Collecting redis
  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 241.1/241.1 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.6.0

In [ ]:
import redis

# Step 1: Connect to the Redis server
redis_host = 'your_redis_server_ip'  # Replace with the IP/hostname of your Redis server
redis_port = 6379  # Default Redis port
redis_db = 0  # Default Redis database number
redis_client = redis.StrictRedis(host=redis_host, port=redis_port, db=redis_db)

# Step 2: Create the Redis hash 'test' with fields 'count' and 'name'
redis_client.hset('test', 'count', 1)
redis_client.hset('test', 'name', 'Fester Bestertester')

# Step 3: Print all the fields for the 'test' hash
test_data = redis_client.hgetall('test')
print("All fields for 'test':")
for field, value in test_data.items():
    print(f"{field.decode('utf-8')}: {value.decode('utf-8')}")

Increment the count field of test and print it.

In [ ]:
import redis

# Step 1: Connect to the Redis server
redis_host = 'your_redis_server_ip'  # Replace with the IP/hostname of your Redis server
redis_port = 6379  # Default Redis port
redis_db = 0  # Default Redis database number
redis_client = redis.StrictRedis(host=redis_host, port=redis_port, db=redis_db)

# Step 2: Increment the 'count' field in the 'test' hash
increment_by = 1
new_count = redis_client.hincrby('test', 'count', increment_by)

# Step 3: Print the updated count
print("Updated count:", new_count)